:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(210, 8%, 45%);
  background-color: hsl(210, 8%, 95%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color */
  --color-ui-border: #d6d9dc;
  --color-navbar-button-hover: #E3E6E8;
  --color-button-blue: #0a95ff;
  --color-button-blue-hover: #0073cc;
  --color-button-border: #7AA7C7;
  --color--button-login: #39739D;
  --color--button-signup: #ffffff;
  --color-button-sky: #e1ecf4;
  --color-button-sky-hover: #b3d3ea;
  --color-layout-orange: #f48225;
  --color-layout-black: #23262a;
}

/* 스타일 리셋 */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
img,
fieldset,
iframe {
  border: 0 none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

em,
address {
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
svg {
  display: block;
}

label {
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
