:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: -apple-system, "system-ui", "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif */
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
  color-scheme: light dark;
  color: hsl(210, 8%, 45%);
  background-color: hsl(0, 0%, 100%);
  --do: hsl(210, 8%, 95%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color */
  --color-ui-border: #d6d9dc;
  --color-ui-border-shadow: #d6d9dc4c;
  --color-searchBtn: #0074cc;
  --color-navbar-button-hover: #e3e6e8;
  --color-button-blue: #0a95ff;
  --color-button-blue-hover: #0073cc;
  --color-button-border: #7aa7c7;
  --color--button-login: #39739d;
  --color--button-signup: #ffffff;
  --color-button-sky: #e1ecf4;
  --color-button-sky-hover: #b3d3ea;
  --color-button-white: #f8f9f9;
  --color-button-white-hover: #f1f2f3;

  --color-button-sky-active: #1e3c52;
  --color-layout-orange: #f48225;
  --color-layout-black: #23262a;
  --color-layout-lightgray: #e3e6e8;
  --color-page-title: #232629;
  --color-content-title: #0074cc;
  --color-content-desc: #3b4045;
  --color-subInfo-lightgray: #6a737c;
  --color-tag-blue: #39739d;
  --color-tag-blue-hover: #2c5877;
  --color-tag-skyblue-hover: #d0e3f1;
  --color-aside-yellow: #fbf3d5;
  --color-aside-lightyellow: #fdf7e2;
  --color-button-gray: #525960;
  --color-button-blue: hsl(206, 100%, 52%);
  --color-button-blue-hover: hsl(206, 100%, 40%);
  --color-button-sky: hsl(205, 46%, 92%);
  --color-button-sky-hover: hsl(205, 57%, 81%);
  --color-layout-orange: hsl(27, 90%, 55%);
  --color-layout-black: hsl(214, 9%, 15%);
  --color-label-black: hsl(210, 8%, 5%);

  --color-blue-100: hsl(206, 100%, 52%);
  --color-blue-200: hsl(206, 100%, 40%);
  --color-blue-300: hsl(206, 100%, 40%);
  --color-blue-400: hsl(209, 100%, 26%);

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(210, 8%, 15%);

  /* font-size */
  --font-title: 1.8rem; /* 27 */
  --font-xl: 1.4rem; /* 21 */
  --font-l: 1.133rem; /* 17 */
  --font-s: 0.867rem; /* 13 */
  --font-xs: 0.8rem; /* 12 */

  /* input design */
  --button-box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.4);
  --button-fc-box-shadow: 0px 0px 0px 4px hsla(206, 100%, 40%, 0.15);
  --input-border-radius: 3px;
  --input-border-color: hsl(210, 8%, 75%);
  --input-err-border-color: hsl(358, 68%, 59%);
  --input-fc-border-color: hsl(206, 67%, 61%);
  --input-fc-box-shadow: 0px 0px 0px 4px rgba(0, 116, 204, 0.15);
  --input-fc-err-box-shadow: 0px 0px 0px 4px hsla(358, 62%, 47%, 0.15);
  --check-fc-box-shadow: 0px 0px 0px 4px hsla(206, 100%, 40%, 0.15);

  /* padding */
  --pd-10: 0.667rem;

  /* box-shadow */
  --bs-sm: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
  --bs-md: 0 1px 3px hsla(0, 0%, 0%, 0.06), 0 2px 6px hsla(0, 0%, 0%, 0.06),
    0 3px 8px hsla(0, 0%, 0%, 0.09);
  --bs-lg: 0 1px 4px hsla(0, 0%, 0%, 0.09), 0 3px 8px hsla(0, 0%, 0%, 0.09),
    0 4px 13px hsla(0, 0%, 0%, 0.13);
  --bs-xl: 0 10px 24px hsla(0, 0%, 0%, 0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05),
    0 1px 4px hsla(0, 0%, 0%, 0.1);
}

/* 스타일 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
img,
fieldset,
iframe {
  border: 0 none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

em,
address {
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
svg {
  display: block;
}

label {
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-top: 52px;
}
